.gform-settings-choice--visual label {
    padding: 1.625rem 1.5rem 0.75rem !important;
    min-width: 8.75rem;
    margin-right: 1rem;
}
.gform-settings-choice--visual img, .gform-settings-choice--visual svg {
    height: auto !important;
    width: 100% !important;
}

/* conditional fields, hidden by default */
#gform_setting_content_blacklist_add,
#gform_setting_email_blacklist_add,
#gform_setting_name_blacklist_add {
    display: none;
}

.gform-settings-description p {
    font-size: 0.8em;
    margin-bottom: 0 !important;
}

.gform-settings-description, .gform-settings-field__header {
    margin-bottom: 0.2em !important;
}

.gform-settings-field {
    margin-bottom: 1.2rem !important;
}

.gform-settings-panel__content input[type=checkbox]:checked {
    background: #ff4343 !important;
}