body {
    background-color: #f0f0f1 !important;
    font-family: -apple-system, system-ui, "Segoe UI", "Helvetica Neue", sans-serif;
    font-size: 13px !important;
}
.container {
    max-width: 100% !important;
}
#universal-message-container {
    background: #fff;
    border: 1px solid #e3e6ef;
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(18,25,97,.078);
    box-sizing: border-box;
}
#universal-message-container sup {
    color: red;
}
.pagination {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif !important;
}
.pagination a {
    background: none !important;
}
.pagination > li > a,
.page-link {
    background-color: white !important;
    color: #000;
}
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover,
.active>.page-link, 
.page-link.active {
    color: #000 !important;
    background-color: #eee !important;
    border-color: #ddd !important;
}
.pagination > .active > a {
    color: white;
    background-color: #000 !Important;
    border: solid 1px #000 !Important;
}
.pagination > .active > a:hover {
    background-color: #000 !Important;
    border: solid 1px #000;
}
